<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header nopadding">
    <div class="headerNavbar centered" id="mainHeader">
        <a href="/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-home"></span> &nbsp; Strona Główna
            </div>
        </a>
        <a href="/products/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-apple"></span> &nbsp; Produkty
            </div>
        </a>
        <a href="/meals/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Przepisy
            </div>
        </a>
        <a href="/diets/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-calendar"></span> &nbsp; Dieta
            </div>
        </a>
        <a href="/bmi/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-scale"></span> &nbsp; Kalkulator BMI
            </div>
        </a>
        <div class="headerBtn" onclick="hideMain()" th:if="${#authorization.expression('isAuthenticated()')}">
            <span class="glyphicon glyphicon-user"></span> &nbsp; Konto
        </div>
        <a href="/login">
            <div class="headerBtn" th:if="${#authorization.expression('!isAuthenticated()')}">
                <span class="glyphicon glyphicon-user"></span> &nbsp; Logowanie
            </div>
        </a>
    </div>
    <div class="headerNavbar centered" id="authHeader" th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="headerBtn">
            <span class="glyphicon glyphicon-heart"></span> &nbsp; Ulubione przepisy
        </div>
        <div class="headerBtn">
            <span class="glyphicon glyphicon-user"></span> &nbsp; Twoje dane
        </div>
        <a href="/settings">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-wrench"></span> &nbsp; Ustawienia
            </div>
        </a>
        <div class="headerBtn" style="visibility: hidden;">
            <form action="/logout" method="post">
                <button type="submit" class="logoutBtn" style="visibility: visible;"><span class="glyphicon glyphicon-off"></span> &nbsp; Wyloguj</button>
            </form>
        </div>

        <div class="headerBtn" onclick="hideExtras()">
            <span class="glyphicon glyphicon-remove" style="color: red;"></span> &nbsp; Cofnij
        </div>
    </div>
</div>

<div class="container nopadding">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-12 col-lg-10 content">
            <div class="simple-login-container centered">
                <form th:action="@{/products/create}" th:object="${product}" method="post">
                    <form hidden path="id" />
                    <h2>Dodawanie produktu</h2>
                    Nazwa:
                    <input th:field="${product.name}" id="name" class="form-control">
                    Kategoria:
                    <select th:field="${product.category}" id="category" class="form-control">
                        <option value="VEGETABLE">Warzywa</option>
                        <option value="FRUIT">Owoce</option>
                        <option value="MEAT">Mięso</option>
                        <option value="DAIRY">Nabiał</option>
                        <option value="WHEAT">Zboża i pochodne</option>
                        <option value="EGG">Jaja</option>
                    </select>
                    <hr>
                    Kalorie:
                    <input type="number" th:field="${product.kcal}" id="kcal" class="form-control">
                    Białko:
                    <input type="number" th:field="${product.protein}" id="protein" class="form-control">
                    Węglowodany:
                    <input type="number" th:field="${product.carb}" id="carb" class="form-control">
                    Tłuszcz:
                    <input type="number" th:field="${product.fat}" id="fat" class="form-control">
                    <hr>
                    <div class="alert-info border-info padding10">Wartości odżywcze należy podać w przeliczeniu na 100g produktu.</div>
                    <button type="submit" class="btn btn-primary btn-block" style="margin-top: 20px;">Zatwierdź</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
