<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header nopadding">
    <div class="headerNavbar centered" id="mainHeader">
        <a href="/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-home"></span> &nbsp; Strona Główna
            </div>
        </a>
        <a href="/products/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-apple"></span> &nbsp; Produkty
            </div>
        </a>
        <a href="/meals/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Przepisy
            </div>
        </a>
        <a href="/diets/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-calendar"></span> &nbsp; Dieta
            </div>
        </a>
        <a href="/metabolism/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-scale"></span> &nbsp; Kalkulator BMI
            </div>
        </a>
        <div class="sidebarBtn" onclick="hideMain()" th:if="${#authorization.expression('isAuthenticated()')}">
            <span class="glyphicon glyphicon-user"></span> &nbsp; Konto
        </div>
        <a href="/login">
            <div class="sidebarBtn" th:if="${#authorization.expression('!isAuthenticated()')}">
                <span class="glyphicon glyphicon-user"></span> &nbsp; Logowanie
            </div>
        </a>
    </div>
    <div class="headerNavbar centered" id="authHeader" th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="sidebarBtn">
            <span class="glyphicon glyphicon-heart"></span> &nbsp; Ulubione przepisy
        </div>
        <div class="sidebarBtn">
            <span class="glyphicon glyphicon-user"></span> &nbsp; Twoje dane
        </div>
        <a href="/settings">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-wrench"></span> &nbsp; Ustawienia
            </div>
        </a>
        <div class="sidebarBtn" style="visibility: hidden;">
            <form action="/logout" method="post">
                <button type="submit" class="logoutBtn" style="visibility: visible;"><span class="glyphicon glyphicon-off"></span> &nbsp; Wyloguj</button>
            </form>
        </div>

        <div class="sidebarBtn" onclick="hideExtras()">
            <span class="glyphicon glyphicon-remove" style="color: red;"></span> &nbsp; Cofnij
        </div>
    </div>
</div>

<div class="container nopadding">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-12 col-lg-10 content">
            <div class="centered">
            <a href="/products/create"><button class="btn btn-success margin20" sec:authorize="hasRole('ADMIN')">Nowy produkt</button></a>
            </div>
            <div class="alert alert-success border-success col-4 offset-4 centered" th:if="${param.addingSuccessful}">Dodano produkt.</div>
            <div class="alert alert-secondary border-secondary col-4 offset-4 centered" th:if="${param.editSuccessful}">Edytowano produkt.</div>
            <div class="alert alert-danger border-danger col-4 offset-4 centered" th:if="${param.deleteSuccessful}">Usunięto produkt.</div>
            <div class="alert alert-danger border-danger col-4 offset-4 centered" th:if="${param.deleteUnsuccessful}">Nie można usunąć produktu - jest wykorzystywany w przepisie!</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-10 prodTable nopadding">
                <div class="prodTableTop nopadding row">
                    <div class="col d-inline-block centered" style="border-right: 1px solid black; padding-top: 15px;">Nazwa</div>
                    <div class="col d-inline-block centered" style="border-bottom: 1px solid black; padding-top: 7.5px;">Wartości odżywcze w 100g</div>
                </div>
                <div class="prodTableTop nopadding row">
                    <div class="col-6 centered" style="border-right: 1px solid black;">&nbsp;</div>
                    <div class="col row centered">
                        <div class="col-3 centered" style="background: brown">Kalorie</div>
                        <div class="col-3 centered" style="border-left: 1px solid black; background: yellow">Białko</div>
                        <div class="col-3 centered" style="border-left: 1px solid black; background: seagreen">Tłuszcz</div>
                        <div class="col-3 centered" style="border-left: 1px solid black; background: deepskyblue">Węglowodany</div>
                    </div>
                </div>
                <div th:each="product : ${product}" class="mealsTableRow nopadding row">
                    <div class="col-6 d-inline-block" style="border-right: 1px solid black;">
                            <form th:action="@{/products/edit/} + ${product.id}" method="get" class="d-inline-block" sec:authorize="hasRole('ADMIN')">
                                <button type="submit" class="btn-link" th:text="${product.name}"></button>
                            </form>
                            <p sec:authorize="!hasRole('ADMIN')" th:text="${product.name}" class="nopadding"></p>
                    </div>
                    <div class="col row centered">
                        <div class="col-3 centered" style="background: lightcoral; height: 24px;">
                            <p th:text=" ${product.kcal} + ' kcal'"></p>
                        </div>
                        <div class="col-3 centered" style="border-left: 1px solid black; background: #ffff88; height: 24px;">
                            <p th:text="${product.protein} + 'g' "></p>
                        </div>
                        <div class="col-3 centered" style="border-left: 1px solid black; background: lightgreen; height: 24px;">
                            <p th:text="${product.fat} + 'g' "></p>
                        </div>
                        <div class="col-3 centered" style="border-left: 1px solid black; background: lightblue; height: 24px;">
                            <p th:text="${product.carb} + 'g' "></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>