<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama - Produkty</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<div class="alert alert-success border-success" th:if="${param.addingSuccessful}">Dodano produkt.</div>
<div class="alert alert-light border-light" th:if="${param.editSuccessful}">Edytowano produkt.</div>
<div class="alert alert-danger border-danger" th:if="${param.deleteSuccessful}">Usunięto produkt.</div>
<div class="col-lg-12">
    <div class="col-lg-4 d-inline-block centered">Nazwa</div>
    <div class="col-lg-3 d-inline-block centered">Wartości odżywcze [100g]</div>
    <div class="col-lg-2 d-inline-block centered">Kategoria</div>
    <div class="col-lg-2 d-inline-block centered">Przyciski</div>
    <div th:each="product : ${product}" class="col-12 mealsTableRow">
        <div class="col-lg-4 d-inline-block centered">
            <h2 th:text="${product.name}"></h2>
        </div>
        <div class="col-lg-3 d-inline-block centered">
            <ul>
                <li th:text=" ${product.kcal} + 'kcal'"></li>
                <li th:text=" 'białko: ' + ${product.protein} + 'g' "></li>
                <li th:text=" 'węglowodany: ' + ${product.carb} + 'g' "></li>
                <li th:text=" 'tłuszcz: ' + ${product.fat} + 'g' "></li>
            </ul>
        </div>
        <div th:text="${product.category}" class="col-lg-2 d-inline-block centered"></div>
        <div class="col-lg-2 d-inline-block centered">
            <form th:action="@{/products/edit/} + ${product.id}" method="get" class="d-inline-block">
                <button type="submit" class="btn btn-primary">Edytuj</button>
            </form>
            <form th:action="@{/products/delete/} + ${product.id}" method="post" class="d-inline-block">
                <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
