<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="@{Szama -&nbsp;} + ${meal.name}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header nopadding">
    <div class="headerNavbar centered" id="mainHeader">
        <a href="/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-home"></span> &nbsp; Strona Główna
            </div>
        </a>
        <a href="/products/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-apple"></span> &nbsp; Produkty
            </div>
        </a>
        <a href="/meals/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Przepisy
            </div>
        </a>
        <a href="/diets/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-calendar"></span> &nbsp; Dieta
            </div>
        </a>
        <a href="/metabolism/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-scale"></span> &nbsp; Kalkulator BMI
            </div>
        </a>
        <div class="headerBtn" onclick="hideMain()" th:if="${#authorization.expression('isAuthenticated()')}">
            <span class="glyphicon glyphicon-user"></span> &nbsp; Konto
        </div>
        <a href="/login">
            <div class="headerBtn" th:if="${#authorization.expression('!isAuthenticated()')}">
                <span class="glyphicon glyphicon-user"></span> &nbsp; Logowanie
            </div>
        </a>
    </div>
    <div class="headerNavbar centered" id="authHeader" th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="headerBtn">
            <span class="glyphicon glyphicon-heart"></span> &nbsp; Ulubione przepisy
        </div>
        <div class="headerBtn">
            <span class="glyphicon glyphicon-user"></span> &nbsp; Twoje dane
        </div>
        <a href="/settings">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-wrench"></span> &nbsp; Ustawienia
            </div>
        </a>
        <div class="headerBtn" style="visibility: hidden;">
            <form action="/logout" method="post">
                <button type="submit" class="logoutBtn" style="visibility: visible;"><span class="glyphicon glyphicon-off"></span> &nbsp; Wyloguj</button>
            </form>
        </div>

        <div class="headerBtn" onclick="hideExtras()">
            <span class="glyphicon glyphicon-remove" style="color: red;"></span> &nbsp; Cofnij
        </div>
    </div>
</div>

<div class="container nopadding">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 content row">
            <h1 th:text="${meal.name}" class="col-12 centered"></h1>
            <div class="col-12 row">
                <div class="col-4">
                    <img src="https://cdn.pixabay.com/photo/2015/04/08/13/13/pasta-712664_960_720.jpg" class="w-100">
                </div>
                <div class="col-4 padding10">
                    <h3>Składniki:</h3>
                    <div th:each="ingredient : ${ingredient}">
                        <p th:if="${ingredient.meal == meal}" th:text="${ingredient.amount} + 'g ' + ${ingredient.product.name}" class="card-text gray"></p>
                    </div>
                </div>

                <div class="col-4 padding10">
                    <h3>Wartości odżywcze w porcji:</h3>
                    <p th:text=" 'Energia: ' + ${meal.kcal} + 'kcal'" class="nopadding gray"></p>
                    <p th:text=" 'Białko: ' + ${meal.protein} + 'g' " class="nopadding gray"></p>
                    <p th:text=" 'Węglowodany: ' + ${meal.carb} + 'g' " class="nopadding gray"></p>
                    <p th:text=" 'Tłuszcz: ' + ${meal.fat} + 'g' " class="nopadding gray"></p>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-1">&nbsp;</div>
                <div class="col-10 padding10">
                    <h3>Przygotowanie: </h3>
                    <p th:text="${meal.description}" class="margin20"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
