<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama - Edycja przepisu</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
<div class="row nopadding">
    <div class="col-2 nopadding sideBar">
        <a href="/">
            <img src="/img/szama.png" class="card-img-top" style=" width: 300px;">
        </a>
        <div th:if="${#authorization.expression('!isAuthenticated()')}">
            <a href="/login">
                <div class="sidebarBtn">
                    <span class="glyphicon glyphicon-user"></span> &nbsp; Logowanie
                </div>
            </a>

            <a href="/register">
                <div class="sidebarBtn">
                    <span class="glyphicon glyphicon-user"></span> &nbsp; Rejestracja
                </div>
            </a>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated()')}" class="row nopadding welcomeText">
            <span class="glyphicon glyphicon-user"></span>
            <p sec:authentication="principal.username"></p>
            <br><br>
        </div>

        <a href="/metabolism/result/?direct" th:if="${#authorization.expression('isAuthenticated()')}">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-list"></span> &nbsp; Twoje dane
            </div>
        </a>

        <div th:if="${#authorization.expression('isAuthenticated()')}" class="sidebarBtn">
            <form action="/logout" method="post">
                <button type="submit" class="btn-link" style="text-decoration: none; color: white; width: 100%; height: 100%;">
                    <span class="glyphicon glyphicon-off"></span> &nbsp;Wyloguj
                </button>
            </form>
        </div>
        <br><br>
        <a href="/products/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-apple"></span> &nbsp; Produkty
            </div>
        </a>
        <a href="/meals/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Przepisy
            </div>
        </a>
        <a href="/diets/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-calendar"></span> &nbsp; Dieta
            </div>
        </a>
        <a href="/metabolism/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-scale"></span> &nbsp; Kalkulator BMI
            </div>
        </a>
    </div>
    <div class="col-10 nopadding">
        <div class="header nopadding"></div>
<div class="container nopadding">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 content row">
            <h1 class="col-12 centered">Edycja <span th:text="${meal.name}"></span></h1>
            <div class="col-1"></div>
            <div class="prodTable col-5 centered margin20">
                <form th:action="@{/meals/create/store}" method="post" th:object="${meal}" >
                    <h4>Nazwa:</h4>
                    <input type="text" th:placeholder="${meal.name}" th:field="${meal.name}" class="form-control" name="name">
                    <h4>Przygotowanie:</h4>
                    <input type="hidden" th:value="${meal.id}" name="id" />
                    <textarea th:field="${meal.description}" th:placeholder="${meal.description}" name="description" class="form-control" rows="8"></textarea>

                    <h4>Ilość porcji: </h4>
                    <select th:field="${meal.portions}" class="form-control">
                        <option th:value="1" th:selected="${meal.portions} == 1 ? true : false">1</option>
                        <option th:value="2" th:selected="${meal.portions} == 2 ? true : false">2</option>
                        <option th:value="3" th:selected="${meal.portions} == 3 ? true : false">3</option>
                        <option th:value="4" th:selected="${meal.portions} == 4 ? true : false">4</option>
                        <option th:value="5" th:selected="${meal.portions} == 5 ? true : false">5</option>
                        <option th:value="6" th:selected="${meal.portions} == 6 ? true : false">6</option>
                        <option th:value="7" th:selected="${meal.portions} == 7 ? true : false">7</option>
                        <option th:value="8" th:selected="${meal.portions} == 8 ? true : false">8</option>
                        <option th:value="9" th:selected="${meal.portions} == 9 ? true : false">9</option>
                        <option th:value="10" th:selected="${meal.portions} == 10 ? true : false">10</option>
                        <option th:value="11" th:selected="${meal.portions} == 11 ? true : false">11</option>
                        <option th:value="12" th:selected="${meal.portions} == 12 ? true : false">12</option>
                        <option th:value="13" th:selected="${meal.portions} == 13 ? true : false">13</option>
                        <option th:value="14" th:selected="${meal.portions} == 14 ? true : false">14</option>
                        <option th:value="15" th:selected="${meal.portions} == 15 ? true : false">15</option>
                        <option th:value="16" th:selected="${meal.portions} == 16 ? true : false">16</option>
                        <option th:value="17" th:selected="${meal.portions} == 17 ? true : false">17</option>
                        <option th:value="18" th:selected="${meal.portions} == 18 ? true : false">18</option>
                        <option th:value="19" th:selected="${meal.portions} == 19 ? true : false">19</option>
                        <option th:value="20" th:selected="${meal.portions} == 20 ? true : false">20</option>
                    </select>
                    <button type="submit" class="btn btn-primary margin20">Edytuj przepis</button>
                </form>
            </div>
            <div class="prodTable centered col-4 margin20">

                <h4>Produkty:</h4>

                <div th:each="linkedProduct : ${linkedProduct}" class="row col-12">
                    <form method="post" th:action="@{/meals/delete/product/} + ${linkedProduct.id}">
                        <button type="submit" class="invisibleBtn padding10"><span class="glyphicon glyphicon-remove" style="color: red;"></span></button>
                    </form>
                    <h4 th:if="${linkedProduct.meal} == ${meal}" th:text="${linkedProduct.amount} + 'g' + ' | ' + ${linkedProduct.product.name}"></h4>
                </div>

                <div th:if="${linkedProduct.empty}">
                    <p style="color: gray;">Brak produktów.</p>
                </div>

                <h4>Dodaj produkt: </h4>

                <form th:action="@{/meals/edit/product/add}" method="post" th:object="${ingredient}">
                    <input type="hidden" th:value="${meal.id}" name="meal" class="form-control"/>
                    <select th:field="${ingredient.product}" class="form-control">
                        <option th:value="${product.id}" th:text="${product.name}" th:each="product : ${product}"></option>
                    </select>
                    <h4>Masa [g]:</h4>
                    <input type="number" th:field="${ingredient.amount}" name="ingredient" class="form-control">
                    <h4>Objętość (opcjonalnie):
                        <span data-toggle="tooltip" data-placement="top" title="W tej sekcji możemy w przybliżeniu określić objętość produktu (np. 1/2 szklanki, trzy łyżki, dwie puszki).">
                            <span class="glyphicon glyphicon-question-sign gray"></span>
                        </span>
                    </h4>
                    <input type="text" th:field="${ingredient.volume}" name="volume" class="form-control">

                    <button type="submit" class="btn btn-primary margin20">Dodaj produkt</button>
                </form>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
</body>
</html>
