<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama - Przepisy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<div class="alert alert-success border-success" th:if="${param.addingSuccessful}">Dodano przepis.</div>
<div class="alert alert-light border-light" th:if="${param.editSuccessful}">Edytowano przepis.</div>
<div class="alert alert-danger border-danger" th:if="${param.deleteSuccessful}">Usunięto przepis.</div>

<div>
    <div class="col-12">
        <div class="col-3 d-inline-block centered">Nazwa</div>
        <div class="col-4 d-inline-block centered">Składniki</div>
        <div class="col-2 d-inline-block centered">Wartości odżywcze<br>[w porcji]</div>
        <div class="col-2 d-inline-block centered">Przyciski</div>
    </div>
    <div th:each="meal : ${meal}" class="col-12 mealsTableRow">
        <div class="col-3 d-inline-block centered">
            <h2 th:text="${meal.name}"></h2>
        </div>
        <div class="col-4 d-inline-block centered">
            <ul th:each="mealproduct : ${mealproduct}">
                <li th:if="${mealproduct.meal == meal}" th:text="${mealproduct.amount} + 'g ' + ${mealproduct.product.name}"></li>
            </ul>
        </div>
        <div class="col-2 d-inline-block centered">
            <ul>
                <li th:text=" ${meal.kcal} + 'kcal'"></li>
                <li th:text=" 'białko: ' + ${meal.protein} + 'g' "></li>
                <li th:text=" 'węglowodany: ' + ${meal.carb} + 'g' "></li>
                <li th:text=" 'tłuszcz: ' + ${meal.fat} + 'g' "></li>
            </ul>
        </div>
        <div class="col-2 d-inline-block centered">
            <form th:action="@{/meals/edit/} + ${meal.id}" method="get" class="d-inline-block">
                <button type="submit" class="btn btn-primary">Edytuj</button>
            </form>
            <form th:action="@{/meals/delete/} + ${meal.id}" method="post" class="d-inline-block">
                <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
