<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama - Przepisy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
<div class="row nopadding">
    <div class="col-2 nopadding sideBar">
        <a href="/">
            <img src="/img/szama.png" class="card-img-top" style=" width: 300px;">
        </a>
        <div th:if="${#authorization.expression('!isAuthenticated()')}">
            <a href="/login">
                <div class="sidebarBtn">
                    <span class="glyphicon glyphicon-user"></span> &nbsp; Logowanie
                </div>
            </a>

            <a href="/register">
                <div class="sidebarBtn">
                    <span class="glyphicon glyphicon-user"></span> &nbsp; Rejestracja
                </div>
            </a>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated()')}" class="row nopadding welcomeText">
            <span class="glyphicon glyphicon-user"></span>
            <p sec:authentication="principal.username"></p>
            <br><br>
        </div>

        <a href="/metabolism/result/?direct" th:if="${#authorization.expression('isAuthenticated()')}">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-list"></span> &nbsp; Twoje dane
            </div>
        </a>

        <div th:if="${#authorization.expression('isAuthenticated()')}" class="sidebarBtn">
            <form action="/logout" method="post">
                <button type="submit" class="btn-link" style="text-decoration: none; color: white; width: 100%; height: 100%;">
                    <span class="glyphicon glyphicon-off"></span> &nbsp;Wyloguj
                </button>
            </form>
        </div>
        <br><br>
        <a href="/products/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-apple"></span> &nbsp; Produkty
            </div>
        </a>
        <a href="/meals/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Przepisy
            </div>
        </a>
        <a href="/diets/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-calendar"></span> &nbsp; Dieta
            </div>
        </a>
        <a href="/metabolism/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-scale"></span> &nbsp; Kalkulator BMI
            </div>
        </a>
    </div>
    <div class="col-10 nopadding">
        <div class="header nopadding"></div>
<div class="container nopadding">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-12 col-lg-10 content">
            <div class="alert alert-success border-success centered w-50 offset-3" th:if="${param.addingSuccessful}">Dodano przepis.</div>
            <div class="alert alert-light border-light centered w-50 offset-3" th:if="${param.editSuccessful}">Edytowano przepis.</div>
            <div class="alert alert-danger border-danger centered w-50 offset-3" th:if="${param.deleteSuccessful}">Usunięto przepis.</div>
            <div class="alert alert-danger border-danger centered w-50 offset-3" th:if="${param.deleteUnsuccessful}">Nie można usunąć przepisu - jest wykorzystywany w diecie!</div>

            <div class="centered">
                <a href="/meals/create/name"><button class="btn btn-success" sec:authorize="hasRole('ADMIN')">Nowy przepis</button></a>
            </div>

            <div class="row">
                <div th:each="meal : ${meal}" class="card cardWidth margin20">
                    <img src="/img/aparat.png" class="card-img-top">
                    <div class="card-body">
                        <h2 th:text="${meal.name}"></h2>
                        <h4>W porcji:</h4>
                        <div>
                            <p th:text=" 'Energia: ' + ${#numbers.formatDecimal(meal.kcal, 1, 0)} + 'kcal'" class="nopadding gray"></p>
                            <p th:text=" 'Białko: ' + ${#numbers.formatDecimal(meal.protein, 1, 1)} + 'g' " class="nopadding gray"></p>
                            <p th:text=" 'Węglowodany: ' + ${#numbers.formatDecimal(meal.carb, 1, 1)} + 'g' " class="nopadding gray"></p>
                            <p th:text=" 'Tłuszcz: ' + ${#numbers.formatDecimal(meal.fat, 1, 1)} + 'g' " class="nopadding gray"></p>
                        </div>
                        <hr>
                        <h4>Składniki:</h4>
                        <div th:each="ingredient : ${ingredient}" class="row nopadding paddingleft10">
                            <p th:if="${ingredient.meal == meal}" th:text="${#numbers.formatDecimal(ingredient.amount, 1, 0)} + 'g ' + ${ingredient.product.name}" class="nopadding"></p>
                            <p th:if="${ingredient.volume != ''} and ${ingredient.meal == meal}" th:text="'&nbsp;(' + ${ingredient.volume} + ')' "class="nopadding"></p>
                        </div>
                        <hr>
                        <form th:action="@{/meals/} + ${meal.id}" method="get" class="d-inline-block">
                            <button type="submit" class="btn btn-primary">Zobacz przepis</button>
                        </form>
                        <form th:action="@{/meals/edit/} + ${meal.id}" method="get" class="d-inline-block" sec:authorize="hasRole('ADMIN')">
                            <button type="submit" class="btn btn-dark">Edytuj</button>
                        </form>
                        <form th:action="@{/meals/delete/} + ${meal.id}" method="post" class="d-inline-block" sec:authorize="hasRole('ADMIN')">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Na pewno chcesz usunąć ten przepis?');">Usuń</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
    </div>
</div>
</body>
</html>
