<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header nopadding">
    <div class="headerNavbar centered" id="mainHeader">
        <a href="/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-home"></span> &nbsp; Strona Główna
            </div>
        </a>
        <a href="/products/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-apple"></span> &nbsp; Produkty
            </div>
        </a>
        <a href="/meals/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Przepisy
            </div>
        </a>
        <a href="/diets/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-calendar"></span> &nbsp; Diety
            </div>
        </a>
        <a href="/metabolism/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-scale"></span> &nbsp; Kalkulator BMI
            </div>
        </a>
        <div class="sidebarBtn" onclick="hideMain()" th:if="${#authorization.expression('isAuthenticated()')}">
            <span class="glyphicon glyphicon-user"></span> &nbsp; Konto
        </div>
        <a href="/login">
            <div class="sidebarBtn" th:if="${#authorization.expression('!isAuthenticated()')}">
                <span class="glyphicon glyphicon-user"></span> &nbsp; Logowanie
            </div>
        </a>
    </div>
    <div class="headerNavbar centered" id="authHeader" th:if="${#authorization.expression('isAuthenticated()')}">
        <div class="sidebarBtn">
            <span class="glyphicon glyphicon-heart"></span> &nbsp; Ulubione przepisy
        </div>
        <div class="sidebarBtn">
            <span class="glyphicon glyphicon-calendar"></span> &nbsp; Twoja dieta
        </div>
        <div class="sidebarBtn">
            <span class="glyphicon glyphicon-wrench"></span> &nbsp; Ustawienia
        </div>
        <div class="sidebarBtn">
            <span class="glyphicon glyphicon-off"></span> &nbsp; Wyloguj
        </div>
        <div class="sidebarBtn" onclick="hideExtras()">
            <span class="glyphicon glyphicon-remove" style="color: red;"></span> &nbsp; Cofnij
        </div>
    </div>
</div>

<div class="container nopadding">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="content col-12 col-lg-10">
            <div class="simple-login-container">
                <h2>Logowanie</h2>
                <form th:action="@{/login}" method="POST">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input name="username" type="text" class="form-control" placeholder="Nazwa użytkownika">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input name="password" type="password" placeholder="Hasło" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-block btn-login">Zaloguj</button>
                        </div>
                    </div>
                </form>
                <div class="alert alert-success border-success" th:if="${param.logoutSuccessful}">
                    Wylogowano pomyślnie.
                </div>

                <div class="alert alert-success border-success" th:if="${param.registerSuccessful}">
                    Zarejestrowano pomyślnie.
                    <br>Teraz możesz się zalogować.
                </div>
                <p>Nie masz jeszcze konta?</p>
                <a href="/register">Zarejestruj się!</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>
