<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama - Rejestracja</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="simple-login-container">
    <form th:action="@{/register}" th:object="${user}" method="post">
        <form hidden path="id" />
        <h2>Rejestracja</h2>
            <div class="row">
                Login:
                <div class="col-md-12 form-group">
                    <input type="text" th:field="${user.username}" id="username" class="form-control" required/>
                    <p class="alert alert-danger margin20" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
            </div>
            <div class="row">
                Hasło:
                <div class="col-md-12 form-group">
                    <input type="password" th:field="${user.password}" id="password" class="form-control" required/>
                    <p class="alert alert-danger margin20" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
            </div>
            <div class="row">
                Email:
                <div class="col-md-12 form-group">
                    <input type="text" th:field="${user.email}" id="email" class="form-control" required/>
                    <p class="alert alert-danger margin20" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-login">Zatwierdź</button>
    </form>
</div>
</body>
</html>
