* {
    margin: 0;
    padding: 0;
}
body {
    font-size:14px;
    color: black;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 300px;
    background-image: url("header.jpg");
    background-position: bottom;
    z-index: 100;
    box-shadow: 5px 0 6px 3px #23272b;
}

.headerNavbar {
    z-index: 110;
    padding-top: 200px;
    user-select: none;
}

.sidebarBtn {
    color: white;
    height: 60px;
    width: 100%;
    padding: 7.5px;
    margin: 0px;
    margin-top: 5px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    text-align: center;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
}


.sidebarBtn:hover {
    background:rgba(0, 0, 0, 0.75);
    text-decoration: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.sidebarBtn:active {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-image: linear-gradient(lightgray, #404040);
    text-decoration: none;
    border: white;
}

#noHeader {
    display: none;
}

#authHeader {
    display: none;
}

.logoutBtn:hover {
    border: 1px solid white;
    background:rgba(0, 0, 0, 0.75);
}

.logoutBtn:active {
    border: 1px solid white;
    background:rgba(150, 150, 150, 0.5);
}

.invisibleBtn {
    background: none;
    border: none;
}

.container {
    width: 100%;
    display: inline;
}
.content {
    padding: 20px;
    min-height: Calc(100vh - 300px);
}

.prodTable {
    border: 1px solid black;
    border-radius: 5px;
}

.prodTableTop {
    background-color: gray;
}

.mealsTableRow {
    border-top: 1px solid black;
    height: 25px;
}

.textAreaDescription {
    height: 200px;
}

.mint {
    background: #98ff98;
}

.gray {
    color: dimgray;
}

.dayname {
    font-weight: bold;
    background: gray;
    border-right: 1px solid black;
    height: 49px;
}

.nopadding {
    margin: 0;
    padding: 0;
}

.margin20 {
    margin: 20px;
}

.margintop20 {
    margin-top: 20px;
}

.padding10 {
    padding: 10px;
}

.paddingleft10 {
    padding-left: 10px;
}

.rerollBtn {
    font-size: small;
    font-weight: bold;
    height: 10px;
    width: 10px;
    margin-top: -10px;
    margin-right: 7px;
    color: green;
}

.rerollBtn:hover {
    color: black;
}

.textLink {
    color: black;
}

.textLink:hover {
    text-decoration: none;
    color: #404040;
}

.cardTitle {
    font-size: 24px;
}

.cardWidth {
    width: Calc(25% - 40px);
}

.centered {
    text-align: center;
    align-content: center;
}

.borderbtm {
    border-bottom: 1px solid black;
}

.transparentMintHighlight {
    height: 50px;
}

.transparentMintHighlight:hover {
    background: rgba(0,255,0,0.2);
    height: 50px;
}

.generateDietBtn {
    width: 250px;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: Calc(50% - 125px)
}

.loseHoldGainBtns {
    width: 200px;
    margin-top: 20px;
    height: 40px;
}

/* LOGIN FORM */

.simple-login-container {
    border: 1px solid lightgray;
    border-radius: 3px;
    width: 400px;
    max-width:100%;
    margin:50px auto;
    padding: 30px;
}
.simple-login-container h2 {
    text-align:center;
    font-size:20px;
}

.simple-login-container .btn-login {
    background-color: #5286F3;
    color:#fff;
}

.sideBar {
    background: dimgray;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 6px 3px #23272b;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
}
.sideBar a {
    text-decoration: none;
}

.welcomeText {
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    display: inline-table;
    width: 100%;
}
.welcomeText p {
    display: inline
}