<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="header nopadding">
    <div class="headerNavbar centered" id="mainHeader">
        <a href="/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-home"></span> &nbsp; Strona Główna
            </div>
        </a>
        <a href="/products/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-apple"></span> &nbsp; Produkty
            </div>
        </a>
        <a href="/meals/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Przepisy
            </div>
        </a>
        <a href="/diets/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-calendar"></span> &nbsp; Dieta
            </div>
        </a>
        <a href="/bmi/">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-scale"></span> &nbsp; Kalkulator BMI
            </div>
        </a>
        <div class="headerBtn" onclick="hideMain()" th:if="${#authorization.expression('isAuthenticated()')}">
            <span class="glyphicon glyphicon-user"></span> &nbsp; Konto
        </div>
        <a href="/login">
            <div class="headerBtn" th:if="${#authorization.expression('!isAuthenticated()')}">
                <span class="glyphicon glyphicon-user"></span> &nbsp; Logowanie
            </div>
        </a>
    </div>
    <div class="headerNavbar centered" id="authHeader" th:if="${#authorization.expression('isAuthenticated()')}">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-heart"></span> &nbsp; Ulubione przepisy
            </div>
            <div class="headerBtn">
                <span class="glyphicon glyphicon-user"></span> &nbsp; Twoje dane
            </div>
        <a href="/settings">
            <div class="headerBtn">
                <span class="glyphicon glyphicon-wrench"></span> &nbsp; Ustawienia
            </div>
        </a>
        <div class="headerBtn" style="visibility: hidden;">
        <form action="/logout" method="post">
            <button type="submit" class="logoutBtn" style="visibility: visible;"><span class="glyphicon glyphicon-off"></span> &nbsp; Wyloguj</button>
        </form>
        </div>

        <div class="headerBtn" onclick="hideExtras()">
            <span class="glyphicon glyphicon-remove" style="color: red;"></span> &nbsp; Cofnij
        </div>
    </div>
</div>

<div class="container nopadding">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-12 col-lg-10 content">

            <h1><a href="/products">Produkty</a></h1>
            <a href="/products/create"><button class="btn btn-link">Nowy produkt</button></a>

            <h1><a href="/meals/">Przepisy</a></h1>
            <a href="/meals/create/name"><button class="btn btn-link">Nowy przepis</button></a>

            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et augue faucibus, semper risus sed, rutrum sapien. Pellentesque id sollicitudin dui. Sed eget consequat arcu, non pharetra velit. Duis eu dignissim ipsum, in blandit massa. Quisque sed odio sed elit maximus varius consequat eu erat. Cras ac rhoncus dui, sit amet luctus eros. Vivamus nec erat quis ligula blandit congue et non enim. Praesent sed elit mi. Fusce cursus elementum volutpat.

            Duis porttitor tristique tempus. Aliquam congue aliquet sodales. Aenean a porta ex, in faucibus nulla. Maecenas ultricies arcu ac porta accumsan. Donec maximus egestas tincidunt. Nullam semper magna dolor, in efficitur quam laoreet id. Vivamus venenatis ligula mauris. Cras porttitor velit turpis, eget lobortis lectus viverra ac. Suspendisse risus felis, posuere non sollicitudin ut, dignissim non magna. Ut in libero feugiat, consequat quam in, varius neque. Suspendisse at iaculis dolor. Suspendisse potenti. Nulla sed lorem orci.

            Quisque vitae ultricies quam, nec fringilla arcu. Mauris interdum turpis sed purus varius sodales. Quisque ultrices cursus suscipit. Proin ut vehicula ligula, vel bibendum ante. In eu velit eu odio finibus sodales. Praesent tristique euismod dui, eu eleifend eros varius sit amet. In dictum metus sit amet sapien tincidunt maximus. In accumsan, felis non bibendum pretium, diam massa aliquet quam, in viverra ex diam vel leo. Mauris consequat, massa sit amet viverra mattis, ipsum risus consectetur ligula, sit amet convallis neque odio id nunc.

            Vivamus consectetur elementum viverra. Nulla finibus, augue ut maximus aliquam, quam metus lacinia mi, sit amet pulvinar ex dolor ac nisi. Morbi iaculis, nibh ut consequat mattis, eros elit venenatis neque, lacinia aliquet est tellus ut lorem. Nam pretium erat diam, id auctor quam semper ut. Donec sollicitudin congue mi, eget efficitur metus dapibus sed. Nunc id leo ac metus feugiat mattis. Quisque porta imperdiet ex, a ultrices diam tincidunt vel.

            Vestibulum id pulvinar diam, a tincidunt sapien. Aenean consectetur, nisi eu lacinia varius, arcu purus accumsan dolor, eget iaculis ante neque tincidunt dolor. Sed turpis massa, sagittis at tempor nec, porta nec augue. Nam molestie porttitor erat sit amet bibendum. Donec tempor varius purus nec dictum. Vivamus at orci turpis. Proin a laoreet metus. Aliquam elementum erat nec ligula luctus efficitur.
            <br>


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et augue faucibus, semper risus sed, rutrum sapien. Pellentesque id sollicitudin dui. Sed eget consequat arcu, non pharetra velit. Duis eu dignissim ipsum, in blandit massa. Quisque sed odio sed elit maximus varius consequat eu erat. Cras ac rhoncus dui, sit amet luctus eros. Vivamus nec erat quis ligula blandit congue et non enim. Praesent sed elit mi. Fusce cursus elementum volutpat.

            Duis porttitor tristique tempus. Aliquam congue aliquet sodales. Aenean a porta ex, in faucibus nulla. Maecenas ultricies arcu ac porta accumsan. Donec maximus egestas tincidunt. Nullam semper magna dolor, in efficitur quam laoreet id. Vivamus venenatis ligula mauris. Cras porttitor velit turpis, eget lobortis lectus viverra ac. Suspendisse risus felis, posuere non sollicitudin ut, dignissim non magna. Ut in libero feugiat, consequat quam in, varius neque. Suspendisse at iaculis dolor. Suspendisse potenti. Nulla sed lorem orci.

            Quisque vitae ultricies quam, nec fringilla arcu. Mauris interdum turpis sed purus varius sodales. Quisque ultrices cursus suscipit. Proin ut vehicula ligula, vel bibendum ante. In eu velit eu odio finibus sodales. Praesent tristique euismod dui, eu eleifend eros varius sit amet. In dictum metus sit amet sapien tincidunt maximus. In accumsan, felis non bibendum pretium, diam massa aliquet quam, in viverra ex diam vel leo. Mauris consequat, massa sit amet viverra mattis, ipsum risus consectetur ligula, sit amet convallis neque odio id nunc.

            Vivamus consectetur elementum viverra. Nulla finibus, augue ut maximus aliquam, quam metus lacinia mi, sit amet pulvinar ex dolor ac nisi. Morbi iaculis, nibh ut consequat mattis, eros elit venenatis neque, lacinia aliquet est tellus ut lorem. Nam pretium erat diam, id auctor quam semper ut. Donec sollicitudin congue mi, eget efficitur metus dapibus sed. Nunc id leo ac metus feugiat mattis. Quisque porta imperdiet ex, a ultrices diam tincidunt vel.

            Vestibulum id pulvinar diam, a tincidunt sapien. Aenean consectetur, nisi eu lacinia varius, arcu purus accumsan dolor, eget iaculis ante neque tincidunt dolor. Sed turpis massa, sagittis at tempor nec, porta nec augue. Nam molestie porttitor erat sit amet bibendum. Donec tempor varius purus nec dictum. Vivamus at orci turpis. Proin a laoreet metus. Aliquam elementum erat nec ligula luctus efficitur.
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et augue faucibus, semper risus sed, rutrum sapien. Pellentesque id sollicitudin dui. Sed eget consequat arcu, non pharetra velit. Duis eu dignissim ipsum, in blandit massa. Quisque sed odio sed elit maximus varius consequat eu erat. Cras ac rhoncus dui, sit amet luctus eros. Vivamus nec erat quis ligula blandit congue et non enim. Praesent sed elit mi. Fusce cursus elementum volutpat.

            Duis porttitor tristique tempus. Aliquam congue aliquet sodales. Aenean a porta ex, in faucibus nulla. Maecenas ultricies arcu ac porta accumsan. Donec maximus egestas tincidunt. Nullam semper magna dolor, in efficitur quam laoreet id. Vivamus venenatis ligula mauris. Cras porttitor velit turpis, eget lobortis lectus viverra ac. Suspendisse risus felis, posuere non sollicitudin ut, dignissim non magna. Ut in libero feugiat, consequat quam in, varius neque. Suspendisse at iaculis dolor. Suspendisse potenti. Nulla sed lorem orci.

            Quisque vitae ultricies quam, nec fringilla arcu. Mauris interdum turpis sed purus varius sodales. Quisque ultrices cursus suscipit. Proin ut vehicula ligula, vel bibendum ante. In eu velit eu odio finibus sodales. Praesent tristique euismod dui, eu eleifend eros varius sit amet. In dictum metus sit amet sapien tincidunt maximus. In accumsan, felis non bibendum pretium, diam massa aliquet quam, in viverra ex diam vel leo. Mauris consequat, massa sit amet viverra mattis, ipsum risus consectetur ligula, sit amet convallis neque odio id nunc.

            Vivamus consectetur elementum viverra. Nulla finibus, augue ut maximus aliquam, quam metus lacinia mi, sit amet pulvinar ex dolor ac nisi. Morbi iaculis, nibh ut consequat mattis, eros elit venenatis neque, lacinia aliquet est tellus ut lorem. Nam pretium erat diam, id auctor quam semper ut. Donec sollicitudin congue mi, eget efficitur metus dapibus sed. Nunc id leo ac metus feugiat mattis. Quisque porta imperdiet ex, a ultrices diam tincidunt vel.

            Vestibulum id pulvinar diam, a tincidunt sapien. Aenean consectetur, nisi eu lacinia varius, arcu purus accumsan dolor, eget iaculis ante neque tincidunt dolor. Sed turpis massa, sagittis at tempor nec, porta nec augue. Nam molestie porttitor erat sit amet bibendum. Donec tempor varius purus nec dictum. Vivamus at orci turpis. Proin a laoreet metus. Aliquam elementum erat nec ligula luctus efficitur.
            <br>


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et augue faucibus, semper risus sed, rutrum sapien. Pellentesque id sollicitudin dui. Sed eget consequat arcu, non pharetra velit. Duis eu dignissim ipsum, in blandit massa. Quisque sed odio sed elit maximus varius consequat eu erat. Cras ac rhoncus dui, sit amet luctus eros. Vivamus nec erat quis ligula blandit congue et non enim. Praesent sed elit mi. Fusce cursus elementum volutpat.

            Duis porttitor tristique tempus. Aliquam congue aliquet sodales. Aenean a porta ex, in faucibus nulla. Maecenas ultricies arcu ac porta accumsan. Donec maximus egestas tincidunt. Nullam semper magna dolor, in efficitur quam laoreet id. Vivamus venenatis ligula mauris. Cras porttitor velit turpis, eget lobortis lectus viverra ac. Suspendisse risus felis, posuere non sollicitudin ut, dignissim non magna. Ut in libero feugiat, consequat quam in, varius neque. Suspendisse at iaculis dolor. Suspendisse potenti. Nulla sed lorem orci.

            Quisque vitae ultricies quam, nec fringilla arcu. Mauris interdum turpis sed purus varius sodales. Quisque ultrices cursus suscipit. Proin ut vehicula ligula, vel bibendum ante. In eu velit eu odio finibus sodales. Praesent tristique euismod dui, eu eleifend eros varius sit amet. In dictum metus sit amet sapien tincidunt maximus. In accumsan, felis non bibendum pretium, diam massa aliquet quam, in viverra ex diam vel leo. Mauris consequat, massa sit amet viverra mattis, ipsum risus consectetur ligula, sit amet convallis neque odio id nunc.

            Vivamus consectetur elementum viverra. Nulla finibus, augue ut maximus aliquam, quam metus lacinia mi, sit amet pulvinar ex dolor ac nisi. Morbi iaculis, nibh ut consequat mattis, eros elit venenatis neque, lacinia aliquet est tellus ut lorem. Nam pretium erat diam, id auctor quam semper ut. Donec sollicitudin congue mi, eget efficitur metus dapibus sed. Nunc id leo ac metus feugiat mattis. Quisque porta imperdiet ex, a ultrices diam tincidunt vel.

            Vestibulum id pulvinar diam, a tincidunt sapien. Aenean consectetur, nisi eu lacinia varius, arcu purus accumsan dolor, eget iaculis ante neque tincidunt dolor. Sed turpis massa, sagittis at tempor nec, porta nec augue. Nam molestie porttitor erat sit amet bibendum. Donec tempor varius purus nec dictum. Vivamus at orci turpis. Proin a laoreet metus. Aliquam elementum erat nec ligula luctus efficitur.
            <br>
        </div>
    </div>

</div>
</body>
</html>
