<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="margin20 centered">

<div th:if="${#authorization.expression('!isAuthenticated()')}" class="">
    <a href="/login"><button class="btn btn-primary">Logowanie</button></a>
    <a href="/register"><button class="btn btn-primary">Rejestracja</button></a>
</div>
<div th:if="${#authorization.expression('isAuthenticated()')}">
   <form action="/logout" method="post">
       <button type="submit" class="btn btn-primary">Wyloguj</button>
   </form>
</div>

<div class="alert alert-success border-success" th:if="${param.logoutSuccessful}">Wylogowano pomyślnie.</div>


<h1><a href="/products">Produkty</a></h1>
<a href="/products/create"><button class="btn btn-link">Nowy produkt</button></a>

<h1><a href="/meals/">Przepisy</a></h1>
<a href="/meals/create/name"><button class="btn btn-link">Nowy przepis</button></a>

</body>
</html>
