<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Szama - Kalkulator BMI</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
</head>
<body>
<div class="row nopadding">
    <div class="col-2 nopadding sideBar">
        <a href="/">
            <img src="/img/szama.png" class="card-img-top" style=" width: 300px;">
        </a>
        <div th:if="${#authorization.expression('!isAuthenticated()')}">
            <a href="/login">
                <div class="sidebarBtn">
                    <span class="glyphicon glyphicon-user"></span> &nbsp; Logowanie
                </div>
            </a>

            <a href="/register">
                <div class="sidebarBtn">
                    <span class="glyphicon glyphicon-user"></span> &nbsp; Rejestracja
                </div>
            </a>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated()')}" class="row nopadding welcomeText">
            <span class="glyphicon glyphicon-user"></span>
            <p sec:authentication="principal.username"></p>
            <br><br>
        </div>

        <a href="/metabolism/result/?direct" th:if="${#authorization.expression('isAuthenticated()')}">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-list"></span> &nbsp; Twoje dane
            </div>
        </a>

        <div th:if="${#authorization.expression('isAuthenticated()')}" class="sidebarBtn">
            <form action="/logout" method="post">
                <button type="submit" class="btn-link" style="text-decoration: none; color: white; width: 100%; height: 100%;">
                    <span class="glyphicon glyphicon-off"></span> &nbsp;Wyloguj
                </button>
            </form>
        </div>
        <br><br>
        <a href="/products/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-apple"></span> &nbsp; Produkty
            </div>
        </a>
        <a href="/meals/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-list-alt"></span> &nbsp; Przepisy
            </div>
        </a>
        <a href="/diets/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-calendar"></span> &nbsp; Dieta
            </div>
        </a>
        <a href="/metabolism/">
            <div class="sidebarBtn">
                <span class="glyphicon glyphicon-scale"></span> &nbsp; Kalkulator BMI
            </div>
        </a>
    </div>
    <div class="col-10 nopadding">
        <div class="header nopadding"></div>
<div class="container nopadding">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-12 col-lg-10 content row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="alert alert-success border-success col-4 offset-4 centered margintop20" th:if="${param.resultSaved}">Przypisano dane do konta.</div>
                <div class="simple-login-container w-100">
                    <h1 class="centered">Kalkulator kaloryczny</h1>
                    <form th:action="@{/metabolism/result}" th:object="${metabolism}" method="post">
                        <div class="row">
                            <div class="col-6">
                                <h4>Wzrost [cm]:</h4>
                            </div>
                            <div class="col-6 form-group">
                                <input type="text" th:field="${metabolism.height}" id="height" placeholder="Podaj wartość całkowitą" class="form-control" required/>
                                <p class="alert alert-danger margin20" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h4>Masa [kg]:</h4>
                            </div>
                            <div class="col-6 form-group">
                                <input type="text" th:field="${metabolism.mass}" id="mass" placeholder="Podaj wartość całkowitą" class="form-control" required/>
                                <p class="alert alert-danger margin20" th:if="${#fields.hasErrors('mass')}" th:errors="*{mass}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h4>Wiek:</h4>
                            </div>
                            <div class="col-6 form-group">
                                <input type="text" th:field="${metabolism.age}" id="age" placeholder="Podaj wartość całkowitą" class="form-control" required/>
                                <p class="alert alert-danger margin20" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>
                            </div>
                        </div>
                        <h4>Płeć:</h4>
                        <input type="radio" name="sex" value="1" checked> Mężczyzna<br>
                        <input type="radio" name="sex" value="0"> Kobieta
                        <h4>Poziom aktywności: </h4>
                        <input type="radio" name="activityLevel" value="1.2"> Brak<br>
                        <input type="radio" name="activityLevel" value="1.4"> Niska<br>
                        <input type="radio" name="activityLevel" value="1.6" checked> Średnia<br>
                        <input type="radio" name="activityLevel" value="1.8"> Wysoka<br>
                        <input type="radio" name="activityLevel" value="2"> Bardzo wysoka<br><br><br>
                        <button type="submit" class="btn btn-block btn-login">Oblicz</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
</body>
</html>
